<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white sidebar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Меню</span>

    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item"><a href="{% url 'catalog:home' %}" class="nav-link text-white">Главная</a></li>
      <li><a href="{% url 'catalog:product_list' %}" class="nav-link text-white">Каталог</a></li>

      <li><a href="#" class="nav-link text-white">Категории:</a></li>
      {% for category in list_category %}
      <li><a href="{% url 'catalog:products_by_category' category_id=category.id %}" class="nav-link text-white">{{ category.name }}</a></li>
      {% endfor %}

      <li><a href="category1.html" class="nav-link text-white">Карточки продуктов:</a></li>
      {% for product in object_list %}
      <li><a href="{% url 'catalog:product_detail' product.pk %}" class="nav-link text-white">- {{ product.name }}</a></li>
      {% endfor %}

      <li><a href="{% url 'catalog:contacts' %}" class="nav-link text-white">Контакты</a></li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
        <strong>Пользователь</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      {% if user.is_authenticated %}
      <li class="nav-item"><a href="{% url 'users:logout' %}" class="nav-link text-white">Выход</a></li>
      {% else %}
      <li class="nav-item"><a href="{% url 'users:login' %}" class="nav-link text-white">Вход</a></li>
      <li class="nav-item"><a href="{% url 'users:register' %}" class="nav-link text-white">Регистрация</a></li>
      {% endif %}
      </ul>
    </div>

</div>